<html>
<head>
	<title>Décors géométriques vestimentaires</title>
	<meta charset="UTF-8">
</head>

    {{ JSGlue.include() }}
    <link rel="stylesheet" href="static/css/main.css">

<body style="background-color:#DDD;">


    <table cellpadding="10" style="width: 100%; height: 200px; border:solid black 0px;">
        <tbody>
            <tr>
                <td width="25%" style="text-align: center; ">
                    <div>
                        Veuillez sélectionner une image :
                        <input type="file" id="fileInput">
                    </div>
                </td>
                <td>
                    <p><img style="display: block; margin-left: auto; margin-right: auto;" id="fileDisplayArea" src="" width="auto" height="250" /></p>
                </td>
                <td width="25%" style="text-align: center;">
                    Le résultat de la prédiction par l'IA s'affiche en dessous avec le degré de confiance accordé par l'IA pour chaque classes.
                </td>
            </tr>
        </tbody>
    </table>




<!--    <div>-->
<!--        Select an image file:-->
<!--        <input type="file" id="fileInput">-->
<!--    </div>-->


    {% block content %}
    {% endblock content%}

</body>

<script src="static/js/utility.js"></script>


</html>

