<html>
<head>
	<title>Décors géométriques vestimentaires</title>
	<meta charset="UTF-8">
</head>

    <link rel="stylesheet" href="static/css/main.css">

<body style="background-color:#b2bb9b;">


    <table cellpadding="10" style="width: 100%; height: 200px; border:solid black 0px;">
        <tbody>
            <tr>
                <td width="25%" style="text-align: center; ">
                    <div>
			<input type=file id="fileInput">
                        <form method=post enctype=multipart/form-data>
                            <input name='file' type="hidden" id="uploaded_file" value="">
                            <input type=submit value=Upload id="button">
                        </form>
<!--                        Veuillez sélectionner une image :-->
<!--                        <input type="file" id="fileInput">-->
                    </div>
                </td>
                <td>
                    <p><img style="display: block; margin-left: auto; margin-right: auto; max-width:100%; max-height:250;" id="fileDisplayArea" src=""/></p>
                </td>
                <td width="25%" style="text-align: center;">
<!--                     	<p>Le résultat de la prédiction par l'IA s'affiche en dessous avec le degré de confiance accordé par l'IA pour chaque classes.</p>
			<p>La r&eacute;ponse de l'ia vient pond&eacute;rer le classement du d&eacute;cor sur <a href="http://graphbz.eu/" target="_blank" rel="noopener" data-saferedirecturl="https://www.google.com/url?q=http://graphbz.eu&amp;source=gmail&amp;ust=1617289327535000&amp;usg=AFQjCNFD2QCNmDQN-1vHDBMgRcZTk0KtKA">graphbz.eu</a></p>
			<p>La réponse apportée peut concerner des images géométriques archaïques potentiellement en lien avec celles des bracelets ornés.</p>
			<p>&nbsp;</p> -->
			<p>The AI response complements the classification of the decor on&nbsp;<a href="http://graphbz.eu/" target="_blank" rel="noopener" data-saferedirecturl="https://www.google.com/url?q=http://graphbz.eu&amp;source=gmail&amp;ust=1617289327535000&amp;usg=AFQjCNFD2QCNmDQN-1vHDBMgRcZTk0KtKA">graphbz.eu</a></p>
			<p>The answer given may concern archaic geometric images potentially related to those of the ornate bracelets.</p>

                </td>
            </tr>
        </tbody>
    </table>

    {% block content %}
    {% endblock content%}

</body>

<script src="static/js/utility.js"></script>


</html>

